html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}


body {
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #fcfcfc;
    overflow-x: hidden;
}
.container {
    width:100%;
    max-width: 60%;
    margin: 0 auto;

 }

 h1, h2, h3, h4, h5, h6{
    margin: 0;
 }

/* HEADER */
 .header {
   margin-top: 20px;
   width: 100%;
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 .header-logo {
   font-size: 2vw;
   text-decoration: none; 
   color: #fff;

 }
 .nav {
   margin-right: 400px;
   gap: 28px;
   font-size: 28px;
   display: flex;
   flex-direction: row;

 }
 .nav-link {
   transition: .15s ease-in;
   text-decoration: none;
   color: #fff;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
 }
 .nav-link:hover {
   color: #2E151B;
   border-bottom: #2E151B 2px solid;
 }
 #logo {
  width: 30px;
  height: 30px;
  margin: 10px;
 }

 .logo {
  margin-left: 300px;
  display: flex;
  gap: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;

 }


/* Блок .intro */

.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-width: 100%;
   height: 100vh;
   background: url(BGG.jpg) left no-repeat;
   background-size: cover;
}
.intro .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
}

.intro-title {
   text-transform: uppercase;
   font-size: 150px;
   font-weight: 700;
   line-height: 1;
   margin: 20px;
}
.intro .btn {
   padding: 0;
   text-decoration: none;
   border-bottom: #d4d4d4 solid 2px;
   color: #d4d4d4;
   font-size: 20px;
   margin: 30px;
   letter-spacing: 2px;
   transition: .15s ease-out;

}
.intro .btn:hover {
   transform: scale(1.05);
}


/*  Блок <section>  */

.section {
   color: #000;
   min-height: 100vh;
}




/* ВСЕ С ФОРМОЙ ОБРАТНОЙ СВЯЗИ */

.form {
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 25px;
  box-shadow: 2px 5px 15px #1C3334;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  background-color: #1C3334;
}
.form h2 {
  font-size: 55px;
}

.form-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-block label {
  letter-spacing: 1.4px;
  font-weight: 500;
}
.form-block textarea {
  width: 319px;
  height: 66px;
  background-color: #376E6F;
  border: none;
  font-size: 17px;
  margin: 5px;
}
.form-block input {
  background-color: #376E6F;
  padding: 5px;
  border: none;
  margin: 5px;
}

.form-submit button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #376E6F;
  box-shadow: 3px 5px 20px rgba(0, 112, 112, 0.774);
  font-size: 15px;
  font-weight: 600;
}








/* MODAL   */


.modal {
   display: none;
   position: fixed; 
   z-index: 1;
   padding-top: 100px; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.4); 

 }
 
 .modal-content {
   background-color: #fefefe;
   color: #000000;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;

 }
 


/* CARD в магазине */

.card-layout {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.card {
  height: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: #DA7B93;
  padding: 5px;
}


.img-block {
  margin-top: 5px;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 350px;

}

.card-img {
  max-width: 100%;
  height: 350px;
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.card-title {
  font-size: 25px;
}
.card-description {
  font-size: 15px;
  text-align: center;
}

.btns-block {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.btns-block button {
  border: none;
  border-radius: 10px;
  padding-inline: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  transition: .1s ease-out;
}
.btns-block button:hover {
  cursor: pointer;
  transform: scale(1.05);
}


.about {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding: 100px;
  background-color: #2F4454;
}

.about-image {
  margin-right: 250px;
}

.about-image img {
  max-width: 500px;
}


.info {
  font-size: xx-large;
}




table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  display: block;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}
td:hover {
  background-color: #888;
}







@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .nav {
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
  }
  
  .logo {
    margin-left: 0;
    align-items: flex-start;
    gap: 10px;
  }
  
  .intro-title {
    font-size: 80px;
  }
  
  .form-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .form-block input,
  .form-block textarea {
    width: 100%;
  }
  
  .card-layout {
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
  }
  
  .card {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .img-block {
    height: auto;
    border-radius: 15px;
  }
  .about {
    flex-direction: column;
    padding: 1px;
  }
  .about-image img {
    max-width: 300px;
  }
  
  .about-image {
    margin-right: 0;
  }
  .info table {
    width: min-content;
  }
  th,
  td {
    padding: 2px 2px;
  }
}

@media screen and (max-width: 480px) {
  .intro-title {
    font-size: 60px;
  }
  
  .form h2 {
    font-size: 40px;
  }
  
  .form-block input,
  .form-block textarea {
    font-size: 15px;
  }
  
  .form-submit button {
    width: auto;
    padding: 10px;
    font-size: 12px;
  }
  .about {
    flex-direction: column;
    gap: 20px;
  }
  .about-image img {
    max-width: 300px;
  }
}


